AeroRespuestas_2/src/main/resources/AereoRespuesta.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.ws.respuesta.aereos.privados.www.ventanillaunica.gob.mx/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://service.ws.respuesta.aereos.privados.www.ventanillaunica.gob.mx/">
  <wsdl:types>
    <xs:schema targetNamespace="http://service.ws.respuesta.aereos.privados.www.ventanillaunica.gob.mx/">
    <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 	<xs:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
			<xs:element name="peticionRespuesta">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:base64Binary" name="respuesta" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="peticionRespuestaResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:boolean" name="result" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  
  <!--Define input and output parameters -->
	<wsdl:message name="peticionRespuesta">
		<wsdl:part name="in" element="tns:peticionRespuesta" />
	</wsdl:message>
	<wsdl:message name="peticionRespuestaResponse">
		<wsdl:part name="out" element="tns:peticionRespuestaResponse" />
	</wsdl:message>
	
  <!--Define port definition -->
	<wsdl:portType name="SOATestEndpoint">
		<wsdl:operation name="SOATest">
			<wsdl:input message="tns:peticionRespuesta" />
			<wsdl:output message="tns:peticionRespuestaResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
  <!--Bind Soap operation and service -->
	<wsdl:binding name="SOATestBinding" type="tns:SOATestEndpoint">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SOATest">
			<soap:operation soapAction="http://alvaroquintana.com"
				style="document" />
			<wsdl:input>
				<soap:body parts="in" use="literal" namespace="http://service.ws.respuesta.aereos.privados.www.ventanillaunica.gob.mx/" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="out" use="literal"  namespace="http://service.ws.respuesta.aereos.privados.www.ventanillaunica.gob.mx/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
  <!--Define service -->
	<wsdl:service name="RespuestaEndpointService">
		<wsdl:port name="SOATestEndpoint" binding="tns:SOATestBinding">
			<soap:address location="http://localhost:8080/alvaroquintana/ws/respuestaAereos" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
